.nav-icon {
  color:#999c9f;
  cursor: pointer;
}
.nav-icon:hover {
  color: white !important;
}

a.dropdown-item:hover {
  background-color: #dadada78;
  background-image: none;
}

.dropdown-menu.navbar-dropdown.scrollable-menu.show {
  max-height: 80vh;
  overflow-x: hidden;
}

.language-dropdown {
  top: 47px;
  left: -115px;
}

a.navbar-brand {
  left: 70px;
  position: absolute;
}

.navbar {
  margin-bottom: 20px;
  height: 60px;
  padding: .5rem 1rem;
}

.offcanvas-header {
  display: block;
}

.screen-overlay {
  height: 100%;
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0,0,0, 0.9);
  transition: opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
  transition: opacity .5s ease, width 0s;
  opacity: 0.4;
  width: 100%;
  top:60px;
  visibility: visible;
}

.offcanvas {
  visibility: hidden;
  transform: translateX(-100%);
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  height: 100%;
  z-index: 1200;
  width: 18em;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: visibility .2s ease-in-out, transform .2s ease-in-out;
}

.offcanvas.show {
  visibility: visible;
  transform: translateX(0);
}

.heading-title {
  top: 6px;
  position: relative;
}

.card-header-navbar[aria-expanded="false"]:after {
  content: "\f067"; /* fa-plus */
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: absolute;
  right: 30px;
  top: 21px;
  font-size: 10px;
}
.card-header-navbar[aria-expanded="true"]:after {
  content: "\f068"; /* fa-minus */
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: absolute;
  right: 30px;
  top: 21px;
  font-size: 10px;
}

.btn:focus {
  box-shadow: none;
}
.dropdown-item:active {
  background-color: #fff;
}

.border {
  border: 1px solid #dfdfdf;
}

.card.z-depth-0.bordered {
  width: 114%;
  margin-left: -18px;
}

.color-button {
  height: 21px;
  width: 21px;
  margin-right: 5px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  position: relative;
  top: 2px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.form-control {
  margin-bottom: 15px;
}
